@import "../../style/variable";

.taskItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 14px;
    margin: 5px;
    border: 2px solid $white-gray;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__block{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 12px;
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            svg{
                width: 20px;
                height: 20px;
                fill: $dark-gray;
                margin-left: 20px;
                &:first-child{
                    margin-left: 0;
                }
            }
        }
        
    }
    &__trash{
        width: 20px;
        height: 20px;
        fill: $nickel;
        transition: 0.1s all;
        &:hover{
            transition: 0.1s all;
            fill: red ;
        }
    }

    &__title{
        font-size: 20px;
        color: $onyx;
        font-weight: 500;
        margin-left: 10px;
    }
    &__priority{
        width: 3px;
        height: 30px;
    }
    &__line{
        margin: 0 20px;
        height: 1px;
        width: 100%;
        background-color: $white-gray;
        margin: 0 auto;
    }
    &__receivers{
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &-item{
            margin-right: 5px;
        }
        span{
            margin-right: 10px;
            font-weight: 500;
            color: $aliceBlueDark;
        }
    }
    &__description{
        display: block;
        transition: all 2s linear;
        opacity: 1;
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
        background-color: $white-color;
        margin-top: 5px;
        text-align: left;
        padding-top: 10px;
        min-height: 100px;
        animation: fade-in .4s;
        &-active{
            opacity: 0;
            display: none;
        }
        &-time{
            margin-bottom: 10px;
            color: $dark-gray;
            font-size: 16px;
            span{
                color: $aliceBlueDark;
                font-weight: 500;
            }
        }
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            font-size: 18px;
            &:last-child{
                padding: 10px;
            }
        }
    }
    &__priority{
        img{
            width: 30px;
            height: 30px;
        }
    }
    &__time{
        display: flex;
        font-family: CircularStd;
        font-size: 16px;
        letter-spacing: 0.32px;
        color: #abafb3;
        font-weight: 500;
        margin-left: 5px;
        span{
            color: #585c61;
            font-size: 18px;
        }
        &-item{
            margin-left: 5px;
        }
    }
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        cursor: pointer;
        transition: 0.3s all;
    }
    
}

.checked{
    filter: grayscale(1);
}

.green{
    color: #2cc09c;
}

.yellow{
    color: yellow;
}

.red{
    color: red;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}