@import "../../style/variable";

.sideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;
    height: 100vh;
    width: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__item{
        margin-top: 15px;
        span{
            position: relative;
            svg{
                width: 24px;
                height: 24px;
                fill: $nickel;
                &:hover{
                    cursor: pointer;
                    fill: $onyx;
                }
            }
            &:before{
                visibility: hidden;
                opacity: 0;
                content: attr(data-hover);
                background-color: rgba($color: black, $alpha: 0.5);
                color: white;
                text-align: center;
                border-radius: 5px;
                padding: 5px 10px;
                transition: opacity .3s ease-in-out;
                
                position: absolute;
                z-index: 34;
                left: 40px;
                top: -3px;
            }
            &:hover{
                &:before{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    &__user{
        margin-bottom: 20px;
        span{
            svg{
                fill: $mediumSlateBlue;
                &:hover{
                    cursor: pointer;
                    fill: $mediumSlateBlue;
                }
            }
        }
    }
}