@import "../../style/variable";

.userInfo{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__title{
        width: 30%;
        font-size: 50px;
        font-family: 'Cabin', sans-serif;
        margin-top: 30px;
        border-bottom: 5px solid $aliceBlue;
        padding-bottom: 5px;
    }
    &__wrapper{
        display: flex;
        align-items: center;
        margin-top: 10px;
        height: 100%;
        width: 100%;
    }
    &__block{
        font-family: 'Cabin', sans-serif;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        width: 100%;
        overflow:hidden;
        &-text{
            font-size: 25px;
            border: 1px solid $aliceBlue;
            width: 50%;
            padding: 10px 30px;
            text-align: left;
            margin-top: 10px;
            border-radius: 10px;
            span{
                color: $aliceBlueDark;
                margin-right: 5px;
            }
        }
        &-image{
            display: block;
            margin: 0 auto;
            height: 450px;
        }
        &:first-child{
            width: 90%;
        }
        &-info{
            display: flex;
            align-items:center;
            img{
                width: 200px;
                margin-right: 10px;
            }
            &-text{
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content: space-between;
                width: 100%;
            }
        }
    }
    &__edit{
        font-size: 25px;
        background-color: $mediumSlateBlue;
        color: $white-color;
        width: 40%;
        padding: 8px 10px;
        margin-top: 20px;
        border-radius: 10px;
        transition: 0.3s all;
        &:hover{
            background-color: $SlateBlue;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            color: $white-color;
            cursor: pointer;
            transition: 0.3s all;
        }
    }
    &__role{
        font-size: 25px;
        background-color: $mediumSlateBlue;
        color: $white-color;
        width: 80%;
        padding: 8px 10px;
        margin-bottom: 40px;
        border-radius: 10px;
        transition: 0.3s all;
        &:hover{
            background-color: $SlateBlue;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            color: $white-color;
            cursor: pointer;
            transition: 0.3s all;
        }
    }
}