@import '../../../style/variable';

.firstPage{
    background-color: #fff;
    padding: 150px;
    &__wrapper{
        margin: 0 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item{
        width: 50%;
        &-border{
            padding: 50px;;
            border: 1px solid $onyx;
            border-radius: 8px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
    &__title{
        font-size: 50px;
        font-weight: 500;
    }
    &__descr{
        margin-top: 20px;
        font-size: 20px;
    }
    &__buttons{
        margin-top: 30px;
        display: flex;
        align-items:center;
        justify-content: center;
        &-item{
            margin: 0 20px;
            background-color: $white-color;
            padding: 10px 30px;
            border-radius: 8px;
            color: $onyx;
            font-weight: 600;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            transition: all 200ms linear;
            text-decoration: none;
            &:hover{
                cursor: pointer;
                color:  $aliceBlue;
                background-color: $onyx;
                text-decoration: none;
            }
        }
    }
    &__image{
        width: 400px;
        border: radius 20px;
        animation: moving 5s infinite ease ;
    }
}

@keyframes moving {
    0% {
        transform: translateY(-5%);
    }
    50% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(-5%);
    }
}