@import "../../style/variable.scss";

.memberSection{
    padding: 20px;
    height: 90%;
    &__input{
        display: flex;
        justify-content: space-between;
        align-items:center;
        width: 100%;
        margin-bottom: 15px;
        &-submit{
            margin-left: 10px;
            display: block;
            background-color: $aliceBlue;
            border-radius: 5px;
            padding: 15px 15px;
            color: $nickel;
            transition: all .3s;
            &:hover{
                color: $white-color;
                background-color: $mediumSlateBlue;
                transition: all .3s;
                cursor: pointer;
            }
        }
    }
    &__block{
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // flex-direction: column;
        // width: 100%;
        overflow-y: auto;
        scrollbar-width: none;
        height: 100%;
        &::-webkit-scrollbar{
            display: none;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}