@import "../../style/variable";

.memberItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid $white-gray;
    padding: 8px 14px;
    &__image{
        background-color: $white-gray;
        padding: 10px;
        border-radius: 100%;
        img{
            width: 30px;
            height: 30px;
        }
    }
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item{
            font-size: 18px;
            font-weight: 500;
            &:first-child{
                margin-right: 10px;
            }
        }
    }
    &__percentage{
        width: 60px;
        height: 60px;
    }
    
}