@import "../../style/variable.scss";

.taskSection{
    margin-left: 5px;
    width: 100%;
    background-color: $aliceBlue;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 20px 0;
    height: 100vh;
    &__title{
        margin: 0 auto;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 25px;
        height: 6%;
        background-color: $aliceBlue;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        border-radius: 10px;
        color: $nickel;
    }
    &__wrapper{
        height: 93%;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__body{
        display: flex;
        align-items: center;
        height: 100%;
        background-color: $white-color;
        border-radius: 30px 30px 0 0;
        padding: 20px;
    }
    &__team{
        width: 35%;
    }
    &__tasks{
        width: 65%;
        height: 100%;
        padding: 20px;
        border-left: 2px solid $white-gray;
        &-fillters{
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: $white-color;
            padding: 5px 10px;
            border-radius: 5px;
            width: 250px;
            margin-left: 20px;
            &-item{
                margin-left: 20px;
                &:first-child{
                    margin-left: 0;
                }
                button{
                    background-color: $aliceBlue;
                    border: none;
                    color: $nickel;
                    &:focus{
                        box-shadow: none;
                        background-color: $mediumSlateBlue;
                        color: $white-color;
                    }
                    &:hover{
                        color: $white-color;
                        background-color: $mediumSlateBlue;
                    }
                }
                div{
                    padding: 8px 5px;
                    a{
                        color: $nickel;
                        border-radius: 8px;
                        &:hover{
                            background-color: $nickel;
                            color: $white-color;
                        }
                    }
                    &:focus{
                        box-shadow: none;
                        background-color: $mediumSlateBlue;
                        color: $white-color;
                    }
                }
                .btn-primary{
                    &:focus{
                        box-shadow: none;
                        background-color: $mediumSlateBlue;
                        color: $white-color;
                    }
                }
            }
        }
        &-body{
            border-radius: 10px;
            height: 90%;
            overflow-y: auto;
            scrollbar-width: none;
            &::-webkit-scrollbar{
                display: none;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__noTasks{
        background-color: $white-color;
        border-radius: 8px;
        height: 90%;
        padding: 40px;
        &-title{
            font-size: 30px;
            font-weight: 700;
        }
        img{
            margin-top: 40px;
            width: 45%;
            height: 70%;
        }
    }
    &__createBtn{
        display: block;
        background-color: $aliceBlue;
        border-radius: 5px;
        padding: 6px;
        color: $nickel;
        transition: all .3s;
        &:hover{
            color: $white-color;
            background-color: $mediumSlateBlue;
            transition: all .3s;
            cursor: pointer;
        }
    }
}

