<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title> CRM </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="nav-link active" aria-current="page" href="/edit/form" sec:authentication="principal.firstName"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/teams/show_all"> Teams </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/tasks/show_all"> Tasks </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/showAll"> Users </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout"> Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>
<div class="d-flex justify-content-center">
  <h2 class="form-signin-heading">Home Page</h2>
</div>
</body>
</html>