@import '../../style/variable';

.teamList{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 30px;
    border-radius: 30px;
    overflow-y:auto;
    scrollbar-width: none;
    background-color: white;
    margin-top: 10px;
    &::-webkit-scrollbar{
        display: none;
    }
    &__addButton{
        text-align: right;
        padding-right: 20px;
        font-size: 30px;
        margin-bottom: 10px;
        &:hover{
            cursor: pointer;
            color: $mediumSlateBlue;
        }
    }
}