@import '../../style/variable';

.teamItem{
    width: 100%;
    height: 30px;
    padding: 0 20px;
    background-color: $aliceBlue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    &:hover{
        background-color: $mediumSlateBlue;
        cursor: pointer;
        .teamItem{
            &__title{
                color: white;
            }
            &__count{
                color: white;
            }
        }
    }
    &__icon{
        width: 20%;
        span{
            font-size: 20px;
            margin: 0 auto;
        }
    }
    &__title{
        margin-left: 15px;
        color: $nickel;
        font-weight: 300;
        font-size: 18px;
        font-family: 'Noto Sans Display', sans-serif;
    }
    &__count{
        color: $nickel;
        font-size: 15px;
    }
}