.loginPage{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    // background: url("../../../images/backgrounds/login_background_1-100.jpg") center (center/cover) no-repeat;
}