// $white-color: #fff;
// $aliceBlue: #E3E9F6;
// $mediumSlateBlue: #6E64F7;
// $nickel: #6F7070;
// $onyx: #3D3D3D;

$white-color: #f9f9f9;
$aliceBlue: #bdcef3;
$mediumSlateBlue: #7f75fd;
// $mediumSlateBlue: #8d85f8;
// $mediumSlateBlue: #736af0;
// $mediumSlateBlue: #7c73ff;


// $SlateBlue: rgb(83, 75, 192);
// $aliceBlueDark: #9cb9f7;
// $nickel: #6F7070;
// $onyx: #3D3D3D;
// $white-gray: #ECECEC;
// $dark-gray: #b4b3b3;

$SlateBlue: rgb(161, 154, 255);
$aliceBlueDark: #9cb9f7;
$nickel: #6F7070;
$onyx: #3D3D3D;
$white-gray: #ECECEC;
$dark-gray: #b4b3b3;
// $white-color: #1A1A1A;
// $aliceBlue: #0C0A11;
// $mediumSlateBlue: #33FF99;
// $nickel: #FFFFFF;
// $onyx: #4A31FF;
