@import '../../style/variable';

.logIn{
    display: block;
    position: absolute;
    width: 500px;
    margin-top: 50px;
    background: $mediumSlateBlue;
    background-image: url("../../images/backgrounds/logIn_bg.svg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    backface-visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    min-height: 550px;
    padding: 35px 50px;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title{
        font-weight: 700;
        font-size: 25px;
        color: $white-color;
        text-align: center;
        transition: all 200ms linear;
    }
    &__form{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: all 200ms linear;
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            background-color: $onyx;
            padding-left: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
            transition: all 200ms linear;
            width: 300px;
        }
        &-icon{
            width: 24px;
            height: 24px;
            fill: $aliceBlue;
            margin-right: 30px;
            transition: all 200ms linear;
        }
        &-input{
            padding: 13px 20px;
            font-weight: 500;
            height: 50px;
            border-radius: 8px;
            font-size: 14px;
            outline: none;
            color: $aliceBlue;
            background-color: $onyx;
            border: none;
            transition: all 200ms linear;
            transition: all 200ms linear;
            &::-webkit-file-upload-button{
                visibility: hidden;
                display: none;
            }
            &[type='file']{
                width: 220px;

            }
        }
        &-submit{
            margin-top: 20px;
            background-color: $white-color;
            padding: 10px 30px;
            border-radius: 8px;
            color: $onyx;
            font-weight: 600;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            transition: all 200ms linear;
            &:hover{
                cursor: pointer;
                color:  $aliceBlue;
                background-color: $onyx;
            }
        }
        &-reset{
            margin-top: 20px;
            color: white;
            transition: all 200ms linear;
            &:hover{
                cursor: pointer;
                color: $onyx;
            }
        }
    }
}

.is-flipped{
    transform: rotateY(-180deg);
}

.btn-active{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}