@import '../../style/variable';

.teamSideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 100vh;
    width: 300px;
    background-color: $white-color;
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    // border-left: 1px solid $aliceBlue;
    &__header{
        display: flex;
        flex-direction: column;
        &-btn{
            display: none;
        }
    }
    &__body{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: $mediumSlateBlue;
        margin-top: 10px;
        padding: 20px 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        scrollbar-width: none;
        &-addBtn{
            padding: 5px 15px;
            border-radius: 10px;
            background-color: $white-color;
            color: $onyx;
            margin-bottom: 20px;
            transition: 0.3s all;
            font-weight: 500;
            &:hover{
                transition: 0.3s all;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                cursor: pointer;
                background-color: $SlateBlue;
                color: $white-color;
            }
        }
        &-line{
            width: 100%;
            height: 1px;
            background-color: $nickel;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        scrollbar-width: none;
        border-radius: 20px;
        &::-webkit-scrollbar{
            display: none;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }

}

.privateItem{
    width: 200px;
    height: 50px;
    padding: 0 20px;
    background-color: $mediumSlateBlue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    transition: 0.3s all;
    &:hover{
        background-color: $SlateBlue;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        cursor: pointer;
        transition: 0.3s all;
        .privateItem{
            &__image{
                svg{
                    fill: $white-color;
                }
                span{
                    color: $mediumSlateBlue;
                }
            }
            &__title{
                color: $white-color;
            }
            &__count{
                color: $white-color;
            }
        }
    }
    &__image{
        position: relative;
        svg{
            position: relative;
            width: 20px;
            height: 20px;
            fill: $white-color
        }
        span{
            position: absolute;
            top: 30%;
            left: 45%;
            transform: translate(-50%, 0);
            font-size: 12px;
            color: $white-color;
        }
    }
    &__title{
        margin-left: 15px;
        color: $white-color;
        font-weight: 500;
        font-size: 18px;
        font-family: 'Noto Sans Display', sans-serif;
    }
    &__count{
        color: $white-color;
        font-size: 15px;
        margin-left: 29px;
    }
    &__block{
        display: flex;
    }
}